/* Popup styling */

.popupVideoPlayer-container {
    position: fixed;
    z-index: 9000;
}

.popupVideoPlayer-iframe {
    position: relative;
}

.popupVideoPlayer-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
}


/* End of popup styling */

.PopupVideoPlayer-wrapper {
    height: 90px;
    margin-bottom: 10px;
}

.PopupVideoPlayer-button {
    position: absolute;
    max-width: 420px;
    display: none;
    cursor: pointer;
}

.PopupVideoPlayer-text {
    display: block;
    float: left;
    max-width: 300px;
    padding-left: 10px;
}

.PopupVideoPlayer-title {
    float: left;
    color: #333;
    font-size: 13px;
    font-weight: bold;
}

.PopupVideoPlayer-title:hover {
    text-decoration: underline;
    color: #167ac6;
}

.PopupVideoPlayer-author {
    float: left;
    display: inline;
}

.PopupVideoPlayer-thumbnail {
    float: left;
    width: 120px;
    height: 90px;
}

.PopupVideoPlayer-byWrapper {
    color: #767676;
    font-size: 11px;
}

.PopupVideoPlayer-by {
    clear: left;
    float: left;
    margin-right: 5px;
    display: none;
}

.PopupVideoPlayer-error {
    display: none;
}
